.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fff;
  border: none;
  outline: none;

  .tertiary-header();

  &--large {
      width: 100%;
  }

  &--submit {
    border: @content-border;
    padding: @content-padding;
    background: #c7eaff;
  }

  &--delete, &--edit {
    .quaternary-header();
    padding: @content-padding;
    border: none;
    margin: 0;
  }

  &--delete {
    background: #ffdede;
  }

  &--edit {
    background: #c7eaff;
  }
}

.icon-btn {
  position: relative;
  @size: 42px;
  width: @size;
  height: @size;
  cursor: pointer;

  &:before,&:after{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 24px;
      border: @content-border;
  }
  &--back {
    transform: rotate(45deg);

    &:before {
      transform: translate(-50%,-50%) rotate(90deg);
    }
    &:after {

    }
  }

  &--plus {
    &:before {
      transform: translate(-50%,-50%) rotate(90deg);
    }
  }
}
